body
{
    margin: 0px 0px 0px 0px;
    overflow: visible;
}

.main
{
    margin: 0px;
    height: 100%;
    width: 100%;
}

.footer
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.controls
{
    position: fixed;
    border-top: 1px solid black;
    background: #FFFFFF;
    bottom: 0px;
    width: 100%;
}

.file-picker#inFilePicker
{
    margin: 12px 12px 12px 12px;
}

#canvas
{
    border: 1px black;
    display: block;
}
